*{
    margin-top:20px;
    padding:10px 20px;
    border:none;
    background:white;
    color:black;
    cursor:pointer;
    border-radius:5px;
}

section{
    padding:50px;
}

.skill-box{
    display:flex;
    gap:20px;
    flex-wrap:wrap;
    margin-top:20px;
}

.skill-box div{
    background:#222;
    color:white;
    padding:15px 25px;
    border-radius:5px;
}

.project-card{
    background:white;
    padding:20px;
    margin-top:20px;
    border-radius:10px;
    box-shadow:0 2px 10px rgba(0,0,0,0.1);
}

form{
    display:flex;
    flex-direction:column;
    gap:15px;
    width:300px;
}

form input,
form textarea{
    padding:10px;
}

form button{
    padding:10px;
    background:#222;
    color:white;
    border:none;
    cursor:pointer;
}

footer{
    text-align:center;
    padding:20px;
    background:#222;
    color:white;
}

@media(max-width:768px){
    nav{
        flex-direction:column;
    }

    .skill-box{
        flex-direction:column;
    }
}